.ant-breadcrumb{
    width: 80% !important;
    margin: 10px auto 10px auto !important;
    background: var(--background-light) !important;
    padding: 10px 35px !important;
    border-radius: 15px;
    font-size: 1.1em !important;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}