.app_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app_menu_items{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.app_menu_item{
    position: relative; 
    cursor: pointer;    
}

.app_menu_item:hover>.app_boder_animated, .app_menu_item:focus>.app_boder_animated{
    height: 3px;
    visibility: visible;
}

.app_menu_item_title:after{
    color: #a5aab6;
    content: "|";
    display: inline-block;
    margin: 0 10px;
}

.app_menu_item:last-child> .app_menu_item_title:after{
    content: "";
}

.app_nav_menu_buttons{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;

    margin-left: 15px;
}

.app_nav_menu_button{
    font-weight: 300;
    font-size: 1.4em;
    margin: 0 20px;
}

.app_menu_item_active {
    position: absolute;
    height: 2px;
    width: calc(100% - 21px);    
    background-color: var(--color-primary);
}

.app_nav_menu_button:hover, .app_nav_menu_button:focus{
    transition: ease all 0.5s;
    color: var(--color-primary);
}

.app_menu_hamburguer:hover , .app_menu_hamburguer:focus{
    transition: ease all 0.5s;
    color: var(--color-primary);
}

.app_nav_menu_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.app_menu_item_title>a:link,
.app_menu_item_title>a:active,
.app_menu_item_title>a:visited{
    text-decoration: none;
    color: var(--text-dark);
}

@media screen and (min-width: 860px){
    .app_menu_hamburguer{
        font-weight: 300;
        font-size: 1.4em;
        margin: 0 20px;
        visibility: hidden;
    }
}



@media screen and (max-width: 860px){
    .app_menu_hamburguer{
        font-weight: 300;
        font-size: 1.4em;
        margin: 0 20px;
        visibility: visible !important;
    }

    .app_nav_menu_container{
        width: 100%;
        background: var(--background-light);
        box-shadow: var(--box-shadow-principal);
        position: absolute;
        left: 0;
        top: 75px;
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content:center;
        padding: 35px;
    }

    .app_menu_items{
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .app_menu_item{
        margin: 5px 0;
        font-size: 1.2em;
        padding: 10px 10px;
    }

    .app_menu_item:hover, .app_menu_item:focus{
        background: rgba(0,0,0,0.1);
        border-radius: 10px;
        transition: ease-in-out all 0.5s;
    }

    .app_menu_item_title:after{
        content: "";
    }

    .app_nav_menu_buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        margin: 20px;
    }

    .app_menu_item_active{
        display: none
    }

    .app_nav_menu_responsive--close{
        display: none !important;
    }
    .app_nav_menu_responsive--open{
        display: flex !important;
    }
}