.app_header{
    width: 100%;
    height: 70px;
    font-family: "Roboto", open sans-serif;

    background: var(--background-light);
    box-shadow: var(--box-shadow-principal);

    display: flex;
    justify-content:space-between;
    align-items:center;
}

.app_header_container{
    width: 80%;
    height: 70px;
    
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.app_logo{
    font-size: 1.3em;
    font-weight: 700;
    font-family: "Roboto", open-sans, arial;
}